
/*----------RESET DOS ESTILOS INICIAIS------------------*/
*{
	margin: 0;
	padding: 0;   
}


/*--------------FORMATAÇÃO DE UMA TAG------------------*/
:root{
	--vermelho: #E50914;
	--preto: #141414;
}


/*--------------FORMATAÇÃO DO BODY---------------------*/
body{
	background: var(--preto); 							/*COR DE FUNDO DO SITE*/
	font-family: 'Times New Roman',Times, serif;		/*ESTILO DA LETRA*/
	color: white;										/*COR DAS PALAVRAS*/
}


header .container{
	display: flex;
	flex-direction: row;
	align-items: center;					/*ALINHA OS ITENS NA VERTICAL*/
	justify-content: space-between;			/*CRIA UM ESPAÇO ENTRE A TAG H2 E A TAG NAV*/
}


/*--------------FORMATAÇÃO DO LOGO DA NETFLIX---------------------*/
header .logo{
	margin-left: 10px;							/*ESPAÇAMENTO A ESQUERDA*/
	color: var(--vermelho);						/*COR DA PALAVRA*/
	font-family: 'Arial-black', Times;			/*ESTILO DA LETRA*/
	font-size: 40px;							/*TAMANHO DA LETRA*/
}


/*--------------FORMATAÇÃO DOS MENUS---------------------*/
header nav a{
	text-decoration: none;  				/*RETIRA O SUBLINHADO DAS PALAVRAS*/
	color: #AAA;							/*COR DAS PALAVRAS*/
	margin-right: 10px;						/*COLOCA UMA MARGEM A DIREITA*/
}


header nav a:hover{  					/*MUDA O ESTADO DA PALAVRA AO PASSAR O MOUSE NELA*/
	color: #fff;						/*MUDA A COR */
}


/*--------------FORMATAÇÃO DO FILME PRINCIPAL---------------------*/
.filme-principal{
		font-size: 16px;
		background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('IMG/IMAGEM-FUNDO.jpg');
		/*COLOCADA UMA IMAGEM DE FUNDO E ADICIONADO UM EFEITO GRADIENTE*/

		height: 600px;					/*DEFINIDO TAMANHO DO CONTAINER */
		background-size: cover; 		/*FEITA A IMAGEM OCUPAR TODO O ESPAÇO */

		display: flex;
		flex-direction: column;			/*MUDA O PADRÃO DE LINHA PARA COLUNA */
		justify-content: center;		/*CENTRALIZA O CONTEÚDO NA VERTICAL */
		align-items: flex-start;		/* INICIA O CONTEÚDO A ESQUERDA NA HORIZONTAL*/
}


.filme-principal .descricao{
		margin-top: 10px;			/*COLOCA UM ESPAÇO NA MARGEM SUPERIOR */
		margin-bottom: 40px;		/*COLOCA UM ESPAÇO NA MARGEM INFERIOR */
}


.filme-principal .titulo{
	margin-top: 50%;				/*COLOCA UMA COR DE FUNDO */
	font-size: 40px;				/*TAMANHO DA LETRA */	
}


.botao{
	background: rgba(0,0,0,.50);	/*COLOCA UMA COR DE FUNDO */
	border: none;					/*RETIRA A BORDA */
	color: 	white;					/*COR DA LETRA */
	padding: 15px 30px;				/*ESPAÇAMENTO INTERNO */
	margin-right: 15px;				/*ESPAÇAMENTO A ESQUERDA */
	font-size: 12px;				/*TAMANHO DA LETRA */
	cursor: pointer;
}

.botao:hover{						/*ESTADO QUANDO PASSA O MOUSE */
	background-color: white;		/*COLOCA UMA COR DE FUNDO */
	color: black;					/*COR DA LETRA */
}